:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-bar-height: 70px;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin:  0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.el-dropdown-link:focus {
  outline: unset;
}

.el-tooltip__trigger { outline: none; }



.bg-red {
  background-color: #f44336;
}

.nav-bar-height {
  height: var(--nav-bar-height);
}

.ww-border-top {
  border-top: 1px solid transparent;
  border-image: linear-gradient(to top,transparent 50%, var(--w-border-color) 50%) 0 0 100%/1px 0;
}

.ww-border-bottom {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to bottom,transparent 50%, var(--w-border-color) 50%) 0 0 100%/1px 0;
}

.ww-border-left {
  border-left: 1px solid transparent;
  border-image: linear-gradient(to left,transparent 50%, var(--w-border-color) 50%) 0 0 100%/1px 0;
}

.ww-border-right {
  border-right: 1px solid transparent;
  border-image: linear-gradient(to right,transparent 50%, var(--w-border-color) 50%) 0 0 100%/1px 0;
}


:deep(.el-tooltip__trigger:focus-visible) {
  outline: unset;
}

:deep(.el-collapse-item__header:focus-visible) {
  outline: unset;
}






